<div id="wrapper">

  <app-top></app-top>

  <div id="minerBox">

    <div id="leftColumn">

      <div id="hashesPerSecond">{{hashesPerSecondFormatted}} <span id="hashPerS">#/s</span></div>

      <div id="startMiningButton" class="button mineButton"
           *ngIf="!isMining()"
           (click)="startMining()">
        Start mining
      </div>

      <div id="stopMiningButton" class="button mineButton"
           *ngIf="isMining()"
           (click)="stopMining()">
        Stop mining
      </div>

    </div>

  </div>

</div>
