@import "../common";

#wrapper {
  @include size100p;
  @include grid-stretch($topbar-height 1fr, 1fr);
}

#minerBox {
  @include grid-stretch(1fr, 1fr 2fr);
  grid-column-gap: 10px;
  @include font(55px, transparentize($font-clr, 0.2));
  padding: 30px;
}

#hashesPerSecond {
  justify-self: left;
}

.button {
  @include size(100%, 40px);
  @include mdc-elevation(2);
  @include grid-center;
  @include border(1px, $main-clr);
  margin-left: 5px;

  background: white;
  color: $font-clr;
  font-size: 13px;
  border-radius: 2px;

  &:hover {
    cursor: pointer;
    background: $hover-clr;
  }

  &:active {
    @include mdc-elevation(0);
  }
}

.mineButton {
  //justify-self: left;
}

#hashPerS {
  font-size: 20px;
}

#leftColumn {
  @include grid-center(60px 60px 1fr, 1fr);

}

#rightColumn {
  @include size(95%);
}

