@import "../common";

#wrapper {
  @include size(85%, 100%);
  @include font(14px);
  @include grid-stretch(50px 1fr, 1fr);
  padding: 30px;
}

$balance-fs: 42px;

#balance {
  font-size: $balance-fs;
  justify-self: left;
  color: lighten($font-clr, 30);
  font-family: $font2;
  cursor: default;
}

#showAddress {
  justify-self: center;
}

#topRow {
  @include self-stretch;
  @include grid-center(1fr, 1fr 1fr);
}

#address {
  //@include size(90%, 35px);
  justify-self: left;
  margin-top: 15px;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 13px;
  cursor: pointer;
}

#bottomRow {
  justify-self: right;
  display: flex;
  margin-top: 15px;
}

.button {
  @include size(120px, 40px);
  @include mdc-elevation(2);
  @include grid-center;
  @include border(1px, $main-clr);
  margin-left: 5px;

  background: white;
  color: $font-clr;
  font-size: 13px;
  border-radius: 2px;

  &:hover {
    cursor: pointer;
    background: $hover-clr;
  }

  &:active {
    @include mdc-elevation(0);
  }
}

#R {
  font-size: $balance-fs + 3px;
  color: transparentize($main-clr, 0.5);
}

#info {
  @include font(16px);
  justify-self: right;
  align-self: start;
  display: flex;
  padding-top: 10px;

  span {
    margin-left: 20px;
  }
}

